.accountHeader{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 10px;
    text-align: left;
    margin-top: var(--account-accent-height);
}

.accent{
    background-color: var(--accent);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: calc(125px + var(--account-accent-height));
    z-index: -1;
}

/* .accountHeaderInfo{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
} */

.name{
    font-size: 1.2rem;
    margin-bottom: 0;
}

.title{
    margin-top: 5px;
    color: grey;
    font-size: 0.8rem;
    width: 70%;
}

.editProfile{
    border-radius: var(--border-radius);
    border: none;
    color: white;
    background-color: var(--accent);
    padding: 10px;
    width: 100%;
    height: 40px;
}

.seperator{
    border-bottom: 1px solid rgb(192, 190, 190);
}

.location{
    color: grey;
    align-content: center;
    font-size: 0.8rem;
}

.accountHeaderCounts{
    display: grid;
    grid-template-columns: 1fr 1rem 1fr 1rem 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
}
.spacer{
    background-color: var(--accent);
    width: 1px;
    height: 50%;
}

.profileButtons{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profileCount{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}
.profileCount > p{
    margin: 0;
}

.bio{
    width: 90%;
}