.accountHeader{
    justify-items: center;
    gap: 10px;
    text-align: center;
    margin-top: var(--account-accent-height);
}

.accent{
    background-color: var(--accent);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc(125px + var(--account-accent-height));
    z-index: -1;
}

.accountHeaderInfo{
    width: 100%;
    text-align: center;
    justify-content: center;
}

.name{
    font-size: 1.2rem;
    margin-bottom: 0;
}

.title{
    margin-top: 5px;
    color: grey;
    font-size: 0.8rem;
}

.editProfile{
    position: absolute;
    margin-top: 50px;
    color: var(--accent);
    cursor: pointer;
}
.editProfile.right{
    right: 20px;
    font-size: 1.3rem;
}
.editProfile.left{
    left: 20px;
    font-size: 0.8rem;
    text-decoration: underline;
}

.followButton{
    border-radius: var(--border-radius);
    border: none;
    color: white;
    background-color: var(--accent);
    padding: 10px;
    width: 100px;
    height: 40px;
}
.followButton.following{
    border: 1px solid var(--accent);
    background-color: white;
    color: var(--accent);
}

.seperator{
    border-bottom: 1px solid rgb(212, 211, 211);
}

.location{
    color: grey;
    align-items: center;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}

.accountHeaderCounts{
    display: grid;
    grid-template-columns: 1fr 1rem 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
}
.spacer{
    background-color: var(--accent);
    width: 1px;
    height: 50%;
}

.profileButtons{
    margin-top: 30px;
}

.profileCount{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}
.profileCount > p{
    margin: 0;
}

.bio{
    width: 90%;
}

.profileBackground{
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    overflow-x: hidden;
}

.profileSection{
    text-align: center;
    min-height: 100px;
    background-color: white;
    margin-bottom: 10px;
    padding: 15px;
}
.profileSectionHeader{
    color: black;
    text-align: left;
}
.emptyProfileSection{
    color: grey;
    align-content: center;
    /* border: 1px solid blue; */
    height: 100%;
}