.profileList{
    position: relative;
    align-content: center;
    height: 100%;
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profileContainer.vertical{
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
}
.profileContainer.horizontal{
    text-align: left;
    display: flex;
    font-size: 1.2rem;
    gap: 10px;
    cursor: pointer;
    width: fit-content;
}