.resultsArea{
    position: fixed;
    z-index: 10;
    background-color: white;
    /* border-radius: var(--border-radius); */
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    
    left: 0;
    right: 0;
    top: 70px;
    padding: 10px;
    text-align: left;
}

.resultsGrid{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding-bottom: 10px;
}

.searchResults{
    position: relative;
}
.searchResults.hide{
    display: none;
}