:root{
    font-family: Arial, Helvetica, sans-serif;

    /* colors */
    --input-border: rgb(200, 200, 200);
    --accent: rgb(123, 90, 141);

    /* numbers */
    --border-radius: 5px;
    --account-accent-height: 55px;
}

button{
    border-radius: var(--border-radius);
    cursor: pointer;
}

input{
    border-radius: var(--border-radius);
}
